# Projeto Final da disciplina de Introdução à Ciência dos Dados

Alunos: Artur Franco (anf), Lucas Glasner (lgr3)

## Parte 1 - Coleta e Pré-processamento dos dados

In [343]:
import pandas as pd
import numpy as np
import datetime as dt
from IPython.display import display

# algumas linhas tratadas pois davam erro na leitura

In [373]:
# Lendo datasets
acidentes2016 = pd.read_csv('raw-datasets/acidentes-geral-2016.csv', sep=';')
acidentes2015 = pd.read_csv('raw-datasets/acidentes-geral-2015.csv', sep=';')

print('ACIDENTES DE TRÂNSITO EM RECIFE/2016')
display(acidentes2016.head())
print(' ')
print('ACIDENTES DE TRÂNSITO EM RECIFE/2015')
display(acidentes2015.head())

ACIDENTES DE TRÂNSITO EM RECIFE/2016

,tipo,situacao,data,hora,bairro,endereco,numero,complemento,natureza,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas
0,SEM VÍTIMA,FINALIZADA,2016-01-01,00:58:00,IPUTINGA,AV JORNALISTA POSSIDONIO CAVALCANTI BASTOS,NaN,PROX A PONTE DA SALVAÇAO,COLISÃO,COLISAO ENTRE UMA VIATUA E UM CAMINHAO S/V,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
1,SEM VÍTIMA,FINALIZADA,2016-01-01,01:23:00,BOA VIAGEM,AV ENGENHEIRO DOMINGOS FERREIRA,NaN,"EM FRENTE AO SUPERMERCADO EXTRA,NO SEMAFORO 380",COLISÃO,COLISAO ENTRE DOIS AUTO S/V,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,SEM VÍTIMA,CANCELADA,2016-01-01,01:42:00,JORDÃO,RUA DR ALVARO FERRAZ,20.0,PROX A PRAÇA DO JORDAO DE BAIXO,COLISÃO,COLISAO ENTRE DOIS AUTO S/V,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,SEM VÍTIMA,FINALIZADA,2016-01-01,03:08:00,IBURA,AV JORNALISTA COSTA PORTO,1080.0,"PROX A ASSEMBLEIA DE DEUS, SENTIDO ALTO DOIS C...",COLISÃO,COLISAO ENTRE DOIS CARROS S/V,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,COM VÍTIMA,CANCELADA,2016-01-01,05:34:00,PAISSANDU,AV GOVERNADOR AGAMENON MAGALHAES,NaN,"EM FRENTE AO EDFICIO EMPRESARIAL ISACK NILTON,...",CHOQUE,"MOTO CHOCOU-SE CONTRA A CALÇADA, COM VITIMA",NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

ACIDENTES DE TRÂNSITO EM RECIFE/2015

,tipo,situacao,data,hora,bairro,endereco,numero,complemento,natureza,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas
0,SEM VÍTIMA,CANCELADA,2015-12-03,11:36:00.000,CASA AMARELA,AV NORTE,NaN,SENTIDO SUBURBIO E/F AO SESC,COLISÃO,COLISÃO SEM VITIMAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,SEM VÍTIMA,FINALIZADA,2015-06-01,06:35:00.000,ENCRUZILHADA,EST DE BELEM,NaN,IGREJA BATISTA MEMORIAL DE BELÉM,COLISÃO,SEM VÍTIMAS.,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,SEM VÍTIMA,FINALIZADA,2015-06-01,08:04:00.000,BOA VIAGEM,RUA ERNESTO DE PAULA SANTOS,NaN,SEMAFORO Nº217,COLISÃO,SEM VITIMA,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
3,SEM VÍTIMA,FINALIZADA,2015-06-01,08:06:00.000,AFOGADOS,AV SUL,NaN,AO LADO DA ESTAÇAO LARGO DA PAZ,COLISÃO,COLISAO S/V,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
4,SEM VÍTIMA,CANCELADA,2015-06-01,08:13:00.000,MADALENA,RUA BENFICA,NaN,EM FRENTE AO CLUBE INTERNACIONAL,COLISÃO,GM RIBEIRO JA NO LOCAL VT 05,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [374]:
# Excluindo colunas irrelevantes para o projeto
acidentes2016.drop(['numero','complemento','descricao','situacao','vitimas'], axis=1, inplace=True)
acidentes2016.drop(['auto','moto','ciclom','ciclista','pedestre','onibus', 'caminhao','viatura','outros'], 
                   axis=1, inplace=True)

acidentes2015.drop(['numero','complemento','descricao','situacao','vitimas'], axis=1, inplace=True)
acidentes2015.drop(['auto','moto','ciclom','ciclista','pedestre','onibus', 'caminhao','viatura','outros'], 
                   axis=1, inplace=True)

#acidentes2016['data'] = acidentes2016['data'].apply(lambda x: dt.datetime.strptime(x,"%Y-%m-%d").strftime("%d/%m/%Y"))
#acidentes2015['data'] = acidentes2015['data'].apply(lambda x: dt.datetime.strptime(x,"%Y-%m-%d").strftime("%d/%m/%Y"))

print('ACIDENTES DE TRÂNSITO EM RECIFE/2016')
display(acidentes2016.head())
print(' ')
print('ACIDENTES DE TRÂNSITO EM RECIFE/2015')
display(acidentes2015.head())

#value_counts() tipo, natureza, endereco, bairro (PODE SER VALIDO)

ACIDENTES DE TRÂNSITO EM RECIFE/2016

,tipo,data,hora,bairro,endereco,natureza
0,SEM VÍTIMA,2016-01-01,00:58:00,IPUTINGA,AV JORNALISTA POSSIDONIO CAVALCANTI BASTOS,COLISÃO
1,SEM VÍTIMA,2016-01-01,01:23:00,BOA VIAGEM,AV ENGENHEIRO DOMINGOS FERREIRA,COLISÃO
2,SEM VÍTIMA,2016-01-01,01:42:00,JORDÃO,RUA DR ALVARO FERRAZ,COLISÃO
3,SEM VÍTIMA,2016-01-01,03:08:00,IBURA,AV JORNALISTA COSTA PORTO,COLISÃO
4,COM VÍTIMA,2016-01-01,05:34:00,PAISSANDU,AV GOVERNADOR AGAMENON MAGALHAES,CHOQUE

ACIDENTES DE TRÂNSITO EM RECIFE/2015

,tipo,data,hora,bairro,endereco,natureza
0,SEM VÍTIMA,2015-12-03,11:36:00.000,CASA AMARELA,AV NORTE,COLISÃO
1,SEM VÍTIMA,2015-06-01,06:35:00.000,ENCRUZILHADA,EST DE BELEM,COLISÃO
2,SEM VÍTIMA,2015-06-01,08:04:00.000,BOA VIAGEM,RUA ERNESTO DE PAULA SANTOS,COLISÃO
3,SEM VÍTIMA,2015-06-01,08:06:00.000,AFOGADOS,AV SUL,COLISÃO
4,SEM VÍTIMA,2015-06-01,08:13:00.000,MADALENA,RUA BENFICA,COLISÃO

In [375]:
# Tratamento de valores ausentes

# Acidentes 2016
print('---PRÉ-TRATAMENTO DE VALORES AUSENTES (2016)---')
print(acidentes2016.isnull().sum())

acidentes2016.dropna(axis=0, inplace=True)

print('---PÓS-TRATAMENTO DE VALORES AUSENTES (2016)---')
print(acidentes2016.isnull().sum())

print(' ')

# Acidentes 2015
print('---PRÉ-TRATAMENTO DE VALORES AUSENTES (2015)---')
print(acidentes2015.isnull().sum())

acidentes2015.dropna(axis=0, inplace=True)

print('---PÓS-TRATAMENTO DE VALORES AUSENTES (2015)---')
print(acidentes2015.isnull().sum())

---PRÉ-TRATAMENTO DE VALORES AUSENTES (2016)---
tipo         0
data         0
hora         0
bairro      61
endereco    70
natureza    73
dtype: int64
---PÓS-TRATAMENTO DE VALORES AUSENTES (2016)---
tipo        0
data        0
hora        0
bairro      0
endereco    0
natureza    0
dtype: int64

---PRÉ-TRATAMENTO DE VALORES AUSENTES (2015)---
tipo         0
data         0
hora         0
bairro      50
endereco    70
natureza    56
dtype: int64
---PÓS-TRATAMENTO DE VALORES AUSENTES (2015)---
tipo        0
data        0
hora        0
bairro      0
endereco    0
natureza    0
dtype: int64

In [367]:
# Convertendo coluna data para o tipo datetime
acidentes2016.data = pd.to_datetime(acidentes2016.data, format="%Y-%m-%d")
acidentes2016.hora = pd.to_datetime(acidentes2016.hora, format="%H:%M:%S").dt.time
acidentes2015.data = pd.to_datetime(acidentes2015.data, format="%Y-%m-%d")
acidentes2015.hora = pd.to_datetime(acidentes2015.hora, format="%H:%M:%S.000").dt.time

print('---TIPOS DOS DADOS (ACIDENTES 2016)---')
print(acidentes2016.dtypes)
display(acidentes2016.head())
print(' ')
print('---TIPOS DOS DADOS (ACIDENTES 2015)---')
print(acidentes2015.dtypes)
display(acidentes2015.head())

---TIPOS DOS DADOS (ACIDENTES 2016)---
tipo                object
data        datetime64[ns]
hora                object
bairro              object
endereco            object
natureza            object
dtype: object

,tipo,data,hora,bairro,endereco,natureza
0,SEM VÍTIMA,2016-01-01,00:58:00,IPUTINGA,AV JORNALISTA POSSIDONIO CAVALCANTI BASTOS,COLISÃO
1,SEM VÍTIMA,2016-01-01,01:23:00,BOA VIAGEM,AV ENGENHEIRO DOMINGOS FERREIRA,COLISÃO
2,SEM VÍTIMA,2016-01-01,01:42:00,JORDÃO,RUA DR ALVARO FERRAZ,COLISÃO
3,SEM VÍTIMA,2016-01-01,03:08:00,IBURA,AV JORNALISTA COSTA PORTO,COLISÃO
4,COM VÍTIMA,2016-01-01,05:34:00,PAISSANDU,AV GOVERNADOR AGAMENON MAGALHAES,CHOQUE

---TIPOS DOS DADOS (ACIDENTES 2015)---
tipo                object
data        datetime64[ns]
hora                object
bairro              object
endereco            object
natureza            object
dtype: object

,tipo,data,hora,bairro,endereco,natureza
0,SEM VÍTIMA,2015-12-03,11:36:00,CASA AMARELA,AV NORTE,COLISÃO
1,SEM VÍTIMA,2015-06-01,06:35:00,ENCRUZILHADA,EST DE BELEM,COLISÃO
2,SEM VÍTIMA,2015-06-01,08:04:00,BOA VIAGEM,RUA ERNESTO DE PAULA SANTOS,COLISÃO
3,SEM VÍTIMA,2015-06-01,08:06:00,AFOGADOS,AV SUL,COLISÃO
4,SEM VÍTIMA,2015-06-01,08:13:00,MADALENA,RUA BENFICA,COLISÃO

In [376]:
# Salva dataset tratado
acidentes2016.to_csv('treated-datasets/acidentes-2016.csv')
acidentes2015.to_csv('treated-datasets/acidentes-2015.csv')

### Tratando datasets de infrações de trânsito de 2016

In [382]:
# Lendo dataset
multas2016 = pd.read_csv('raw-datasets/infracoes-transito-2016.csv', sep=';')
multas2015 = pd.read_csv('raw-datasets/infracoes-transito-2015.csv', sep=';')

print('INFRAÇÕES DE TRÂNSITO EM RECIFE/2016')
display(multas2016.head())
print(' ')
print('INFRAÇÕES DE TRÂNSITO EM RECIFE/2015')
display(multas2015.head())

INFRAÇÕES DE TRÂNSITO EM RECIFE/2016

,datainfracao,horainfracao,dataimplantacao,agenteequipamento,infracao,descricaoinfracao,amparolegal,localcometimento,Unnamed: 8
0,30/12/2015,11:10:00,04/01/2016,Código 6 - AUTOS NO TALÃO MANUAL,7366,Dirigir o veículo utilizando-se de telefone ce...,AV BOA VIAGEM EM FRENTE AO N 3196,"Art. 252, Inc. VI",NaN
1,20/12/2015,08:20:00,04/01/2016,Código 6 - AUTOS NO TALÃO MANUAL,6599,Conduzir o veículo registrado que não esteja d...,AV DANTAS BARRETO EM FRENTE AO N 1048 SENT SUB...,"Art. 230, Inc. V",NaN
2,24/12/2015,20:15:00,04/01/2016,Código 6 - AUTOS NO TALÃO MANUAL,5452,Estacionar o veículo no passeio.,RUA FRANCISCO BARROS BARRETO AO LADO OPOSTO 198,"Art. 181, Inc. VIII",NaN
3,28/12/2015,13:50:00,04/01/2016,Código 6 - AUTOS NO TALÃO MANUAL,5452,Estacionar o veículo no passeio.,AV CONS AGUIAR EM FRENTE AO BOMPRECO,"Art. 181, Inc. VIII",NaN
4,28/12/2015,13:55:00,04/01/2016,Código 6 - AUTOS NO TALÃO MANUAL,5452,Estacionar o veículo no passeio.,AV CONS AGUIAR EM FRENTE AO LADO OPOSTO 4777,"Art. 181, Inc. VIII",NaN

INFRAÇÕES DE TRÂNSITO EM RECIFE/2015

,datainfracao,horainfracao,dataimplantacao,agenteequipamento,infracao,descricaoinfracao,amparolegal,localcometimento
0,2015/10/26 00:00:00.000,08:42:00,2015/11/03 00:00:00.000,Código 6 - AUTOS NO TALÃO MANUAL,5541,Estacionar o veículo em desacordo com as condi...,"Art. 181, Inc. XVII",AV PORTUGAL EM FRENTE AO IMOVEL N 89
1,2015/10/26 00:00:00.000,08:45:00,2015/11/03 00:00:00.000,Código 6 - AUTOS NO TALÃO MANUAL,5541,Estacionar o veículo em desacordo com as condi...,"Art. 181, Inc. XVII",AV PORTUGAL EM FRENTE AO IMOVEL N 89
2,2015/10/26 00:00:00.000,08:48:00,2015/11/03 00:00:00.000,Código 6 - AUTOS NO TALÃO MANUAL,5525,Estacionar o veículo na contramão de direção.,"Art. 181, Inc. XV",AV PORTUGAL EM FRENTE AO IMOVEL N 101
3,2015/10/26 00:00:00.000,08:55:00,2015/11/03 00:00:00.000,Código 6 - AUTOS NO TALÃO MANUAL,5550,Estacionar o veículo em locais e horários proi...,"Art. 181, Inc. XVIII",RUA PACIFICO DOS SANTOS EM FRENTE AO IMOVEL N 124
4,2015/10/26 00:00:00.000,09:10:00,2015/11/03 00:00:00.000,Código 6 - AUTOS NO TALÃO MANUAL,7366,Dirigir o veículo utilizando-se de telefone ce...,"Art. 252, Inc. VI",AV GOV AGAMENON MAGALHAES EM FRENTE AO SEMAFOR...

In [383]:
# Excluindo colunas irrelevantes para o projeto
multas2016.drop(['dataimplantacao','infracao','descricaoinfracao','amparolegal','localcometimento','Unnamed: 8'], 
                axis=1, inplace=True)

multas2015.drop(['dataimplantacao','infracao','descricaoinfracao','amparolegal','localcometimento'], 
                axis=1, inplace=True)

print('INFRAÇÕES DE TRÂNSITO EM RECIFE/2016')
display(multas2016.head())
print(' ')
print('INFRAÇÕES DE TRÂNSITO EM RECIFE/2015')
display(multas2015.head())

INFRAÇÕES DE TRÂNSITO EM RECIFE/2016

  datainfracao horainfracao                 agenteequipamento
0   30/12/2015     11:10:00  Código 6 - AUTOS NO TALÃO MANUAL
1   20/12/2015     08:20:00  Código 6 - AUTOS NO TALÃO MANUAL
2   24/12/2015     20:15:00  Código 6 - AUTOS NO TALÃO MANUAL
3   28/12/2015     13:50:00  Código 6 - AUTOS NO TALÃO MANUAL
4   28/12/2015     13:55:00  Código 6 - AUTOS NO TALÃO MANUAL

INFRAÇÕES DE TRÂNSITO EM RECIFE/2015

              datainfracao horainfracao                 agenteequipamento
0  2015/10/26 00:00:00.000     08:42:00  Código 6 - AUTOS NO TALÃO MANUAL
1  2015/10/26 00:00:00.000     08:45:00  Código 6 - AUTOS NO TALÃO MANUAL
2  2015/10/26 00:00:00.000     08:48:00  Código 6 - AUTOS NO TALÃO MANUAL
3  2015/10/26 00:00:00.000     08:55:00  Código 6 - AUTOS NO TALÃO MANUAL
4  2015/10/26 00:00:00.000     09:10:00  Código 6 - AUTOS NO TALÃO MANUAL

In [384]:
# Convertendo coluna datainfracao para o tipo datetime
multas2016.datainfracao = pd.to_datetime(multas2016.datainfracao, format="%d/%m/%Y")
multas2015.datainfracao = multas2015.datainfracao.apply(lambda x: x.split(' ')[0])
multas2015.datainfracao = pd.to_datetime(multas2015.datainfracao, format="%Y/%m/%d")

print('---TIPOS DOS DADOS (MULTAS 2016)---')
print(multas2016.dtypes)
display(multas2016.head())
print(' ')
print('---TIPOS DOS DADOS (MULTAS 2015)---')
print(multas2015.dtypes)
display(multas2016.head())

---TIPOS DOS DADOS (MULTAS 2016)---
datainfracao         datetime64[ns]
horainfracao                 object
agenteequipamento            object
dtype: object

  datainfracao horainfracao                 agenteequipamento
0   2015-12-30     11:10:00  Código 6 - AUTOS NO TALÃO MANUAL
1   2015-12-20     08:20:00  Código 6 - AUTOS NO TALÃO MANUAL
2   2015-12-24     20:15:00  Código 6 - AUTOS NO TALÃO MANUAL
3   2015-12-28     13:50:00  Código 6 - AUTOS NO TALÃO MANUAL
4   2015-12-28     13:55:00  Código 6 - AUTOS NO TALÃO MANUAL

---TIPOS DOS DADOS (MULTAS 2015)---
datainfracao         datetime64[ns]
horainfracao                 object
agenteequipamento            object
dtype: object

  datainfracao horainfracao                 agenteequipamento
0   2015-12-30     11:10:00  Código 6 - AUTOS NO TALÃO MANUAL
1   2015-12-20     08:20:00  Código 6 - AUTOS NO TALÃO MANUAL
2   2015-12-24     20:15:00  Código 6 - AUTOS NO TALÃO MANUAL
3   2015-12-28     13:50:00  Código 6 - AUTOS NO TALÃO MANUAL
4   2015-12-28     13:55:00  Código 6 - AUTOS NO TALÃO MANUAL

In [385]:
multas16_15 = multas2016[multas2016.datainfracao < '2016-1-1']
multas2016 = multas2016[multas2016.datainfracao >= '2016-1-1']

print('QUANTIDADE DE LINHAS: {}'.format(multas2015.shape[0]))
display(multas2015.head())
print(' ')
print('QUANTIDADE DE LINHAS: {}'.format(multas16_15.shape[0]))
display(multas16_15.head())

multas2015 = pd.concat([multas2015, multas16_15])
print(' ')
print('QUANTIDADE DE LINHAS: {}'.format(multas2015.shape[0]))
display(multas2015.head())

QUANTIDADE DE LINHAS: 629158

  datainfracao horainfracao                 agenteequipamento
0   2015-10-26     08:42:00  Código 6 - AUTOS NO TALÃO MANUAL
1   2015-10-26     08:45:00  Código 6 - AUTOS NO TALÃO MANUAL
2   2015-10-26     08:48:00  Código 6 - AUTOS NO TALÃO MANUAL
3   2015-10-26     08:55:00  Código 6 - AUTOS NO TALÃO MANUAL
4   2015-10-26     09:10:00  Código 6 - AUTOS NO TALÃO MANUAL

QUANTIDADE DE LINHAS: 23596

  datainfracao horainfracao                 agenteequipamento
0   2015-12-30     11:10:00  Código 6 - AUTOS NO TALÃO MANUAL
1   2015-12-20     08:20:00  Código 6 - AUTOS NO TALÃO MANUAL
2   2015-12-24     20:15:00  Código 6 - AUTOS NO TALÃO MANUAL
3   2015-12-28     13:50:00  Código 6 - AUTOS NO TALÃO MANUAL
4   2015-12-28     13:55:00  Código 6 - AUTOS NO TALÃO MANUAL

QUANTIDADE DE LINHAS: 652754

  datainfracao horainfracao                 agenteequipamento
0   2015-10-26     08:42:00  Código 6 - AUTOS NO TALÃO MANUAL
1   2015-10-26     08:45:00  Código 6 - AUTOS NO TALÃO MANUAL
2   2015-10-26     08:48:00  Código 6 - AUTOS NO TALÃO MANUAL
3   2015-10-26     08:55:00  Código 6 - AUTOS NO TALÃO MANUAL
4   2015-10-26     09:10:00  Código 6 - AUTOS NO TALÃO MANUAL

In [386]:
# Salvando datasets
multas2015.to_csv('treated-datasets/infracoes-transito-2015.csv')
multas2016.to_csv('treated-datasets/infracoes-transito-2016.csv')